.company-register-block {
  height: 1100px;
  background: #18A4E0 0% 0% no-repeat padding-box;
  position: relative;

  .company-register-title {
    margin-top: 5%;
    text-align: left;
    font: normal normal normal 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .company-register-img {
    margin-top: 5%;
    width: 50%;
    height: 240px;
    background-image: url('../../img/company_title.png');
    background-size: cover;
  }

  .company-register-text {
    margin-top: 5%;
    font-size: 20px;
    text-align: left;
    font: normal normal medium 20px/27px Montserrat;
    letter-spacing: 0.26px;
    color: #FFFFFF;
  }

  .company-register-ul {
    text-align: left;
    font: normal normal medium 18px/27px Montserrat;
    letter-spacing: 0.23px;
    color: #FFFFFF;
  }

  .company-sign-up {
    position: absolute;
    background: #ffffff;
    width: 532px;
    height: 96%;
    top: 2%;
    right: 0;
    padding: 2%;
  }


  .company-sign-up-title {
    text-align: left;
    font: normal normal medium 20px/24px Montserrat;
    letter-spacing: 0.26px;
    color: #18A4E0;
    text-transform: uppercase;
    font-size: 20px;
  }

  .company-sign-up-input {
    width: 90%;
    border: none;
    border-bottom: 2px solid #18A4E0;
    height: 29px;
    margin-top: 10px;

    &::placeholder {
      text-align: left;
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0.4px;
      color: #00000099;
    }
  }

  .btn-company-signup {
    margin-top: 15%;
    width: 141px;
    height: 36px;
    border: none;
    font-size: 12px;
    background: var(--unnamed-color-18a4e0) 0% 0% no-repeat padding-box;
    background: #18A4E0 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 1.25px;
    color: #FFFFFF;
  }

  .company-sign-up-text {
    margin-top: 5%;
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0.4px;
    color: #3B3B3B;

    a{
      text-align: left;
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0.4px;
      color: #3B3B3B;
      opacity: 0.6;
    }
  }

  .company-signup-footer{
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    opacity: 1;

    a{
      text-align: left;
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0.4px;
      color: #18A4E0;
      text-transform: uppercase;
    }
  }

}

