.header {
  //border: 1px solid red;
  height: 100%;

  .top-text {
    width: 325px;
    height: 30px;
    margin-top: 22px;
    letter-spacing: var(--unnamed-character-spacing-0-4);
    text-align: left;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--unnamed-color-3b3b3b);
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0.4px;
    color: #3B3B3B;
  }

  a{
    color: black;
  }

  .title-text{
    width: 547px;
    height: 213px;
    //border: 1px solid red;
    margin-top: 100px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-96)/96px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing--1-55);
    color: var(--unnamed-color-18a4e0);
    text-align: left;
    font: normal normal 300 96px/96px Montserrat;
    letter-spacing: -1.55px;
    color: #18A4E0;
    font-size: 96px;
  }

  .bottom-text{
    width: 226px;
    height: 62px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--unnamed-color-18a4e0);
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0.4px;
    color: #18A4E0;
    margin-top: 50px;
    margin-left: 25px;
  }



  //.bottom-block{
  //  background: var(--unnamed-color-18a4e0) 0% 0% no-repeat padding-box;
  //  background: #18A4E0 0% 0% no-repeat padding-box;
  //  box-shadow: 0px 3px 6px #00000029;
  //  height: 221px;
  //  width: 100%;
  //}
}

.header-footer-block{
  position: relative;
  height: 221px;
  //width: 100%;
  background: #18A4E0 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;

  .hf-text{
    box-sizing: border-box;
    padding-top: 6%;
    width: 523px;
    height: 87px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-29) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hf-btn{
    position: absolute;
    right: 15%;
    top: 0;
  }
}

.header-btn{
  background: var(--unnamed-color-fa7268) 0% 0% no-repeat padding-box;
  background: #FA7268 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 4px #00000041;
  border-radius: 24px;

  width: 220px;
  height: 48px;

  margin-top: 100px;
  border: none;
  color: #ffffff;
}