.nav-block {
  //width: 1280px;
  //border: 1px solid red;
  height: 64px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 100;
  position: relative;

  .navbar {
    height: 64px;
    //border: 1px solid red;
    display: flex;
    justify-content: left;
  }

}

.btn-nav{
  width: 99px;
  height: 36px;
  text-decoration: none;
  border: none;
  background: none;
  text-align: center;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 1.25px;
  color: #18A4E0;
}

.btn-up{
  border: 1px solid var(--unnamed-color-18a4e0);
  border: 1px solid #18A4E0;
  border-radius: 4px;
}

.btn-in{
  background: var(--unnamed-color-18a4e0) 0% 0% no-repeat padding-box;
  background: #18A4E0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: var(--unnamed-color-ffffff);
  color: #FFFFFF;
}

.btn-nav{
  width: 99px;
  height: 36px;
  text-decoration: none;
  border: none;
  background: none;
  text-align: center;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 1.25px;
  color: #18A4E0;
}

.btn-up{
  border: 1px solid var(--unnamed-color-18a4e0);
  border: 1px solid #18A4E0;
  border-radius: 4px;
}

.btn-in{
  background: var(--unnamed-color-18a4e0) 0% 0% no-repeat padding-box;
  background: #18A4E0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: var(--unnamed-color-ffffff);
  color: #FFFFFF;
}

.navbar-title{
  text-align: left;
  font: normal normal normal 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #18A4E0;
  top: 10px;

  .cv{
    text-align: left;
    font: normal normal 900 24px/29px Montserrat;
    letter-spacing: 0.6px;
    color: #18A4E0;
  }
}

.btn-block{
  //width: 300px !important;
  display: flex !important;
  justify-content: space-evenly;
}

.navbar-btn-block-wrapper{
  width: 90%;
  height: 100%;
  position: absolute;
}